@import './styles/marketing.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input,
  textarea,
  select {
    color: #020617;
    background-color: #fff;
  }
}

@layer components {
  .ns-page-heading {
    @apply text-slate-50 text-2xl font-semibold;
  }

  .ns-page-subtitle {
    @apply text-slate-200 text-sm;
  }

  .ns-page-meta {
    @apply text-slate-300 text-xs;
  }
}

